@model IEnumerable<PSSC.Models.CarteMVC>
@{
    ViewData["Title"] = "AfisareStareUser";
}

<h2>Afisare carti user</h2>
<br />
<br />

<div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titlu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Termen)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Data)*@
                Data
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domeniu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stare)
            </th>

        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titlu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Termen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataImprumut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domeniu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locatie)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Stare)
            </td>
        </tr>
        }
    </table>
</div>


<div>
    @Html.ActionLink("Pagina principala", "PaginaPrincipala", "Home", null, new { @class = "btn btn-default" })
</div>





